@import "tailwindcss";

body {
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
}

.btn-primary {
  background-color: rgb(37 99 235);
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: rgb(29 78 216);
}

.btn-secondary {
  background-color: rgb(229 231 235);
  color: rgb(31 41 55);
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}

.btn-secondary:hover {
  background-color: rgb(209 213 219);
}
